

<h3>Awaiting Response Advice Messages</h3>


<table class="table table-striped">
  	
  <tr>
	<th>View</th>
    <th>Category Name</th>
	<th>Advisor Name</th>
	<th>Status</th>
    <th>Created On</th>
  </tr>

<% @messages.each do |message| %>
  <tr>
	<%= @space = " " %>
	<td><%= link_to "View", showadvisee_path(message) %></td>
    <td><%= message.advicepost.categoryname %></td>
    <td><%= message.advicepost.advisor.first_name + @space + message.advicepost.advisor.last_name %></td>
    <td><%= message.status %></td>
	<td><%= message.created_at.strftime("%m-%d-%Y %H:%M") %></td>
  </tr>
<% end %>
</table>


<%= will_paginate @messages %>


<br />




