

<h2>Advisee Messages</h2>

<table class="table table-striped">
  <tr>
	<th></th>
    <th>Category</th>
	<th>Advisee Name</th>
    <th>Created On</th>
    <th></th>

  </tr>

<% @messages.each do |message| %>
  <tr>
	<td><%= link_to 'Respond!', messager_path(message), class: "btn btn-success" %></td>
    <td><%= message.advicepost.categoryname %></td>
    <td><%= message.advicepost.advisor.firstname %></td>
	<td><%= message.created_at %></td>

  </tr>
<% end %>
</table>



<%= will_paginate @messages %>



<br />




