

<h2>Active Advice Messages</h2>

<table class="table table-striped">
  <tr>
	<th>Respond</th>
    <th>Category</th>
	<th>Advisee Name</th>
	<th>Status</th>
    <th>Created On</th>
    <th></th>

  </tr>

<% @messages.each do |message| %>
  <tr>
	<%= @space = " " %>
	<td><%= link_to 'Respond!', messager_path(message), class: "btn btn-success" %></td>
    <td><%= message.advicepost.categoryname %></td>
    <td><%= message.advicepost.advisor.first_name + @space + message.advicepost.advisor.last_name %></td>
    <td><%= message.status %></td>
	<td><%= message.created_at.strftime("%m-%d-%Y %H:%M") %></td>

  </tr>
<% end %>
</table>



<%= will_paginate @messages %>



<br />




