<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "UserID" %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label 'AdvicepostID' %><br />
    <%= f.text_field :advicepost_id %>
  </div>


  <div class="field">
    <%= f.label :messageq %><br />
    <%= f.text_field :messageq %>
  </div>
  <div class="field">
    <%= f.label :messager %><br />
    <%= f.text_field :messager %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>