<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<br /><br />


  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :advicepost_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :advisor_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :status %>
  </div>


  <div class="field">
    <strong><%= f.label 'Message' %></strong>
    <span class="help-block">Enter your message to this advisor.  Ask any detailed questions you want them to answer or if you just want their opinion that is great also.</span>
    <%= f.text_area :messageq %>
  </div>


  <div class="actions">
	<%= link_to 'Back', :back, :class => 'btn' %>
    <%= f.submit 'Send Your Message!', :class => 'btn btn-success' %>

  </div>

<% end %>