

<h2>Past Advice Messages</h2>

<table class="table table-striped">
  <tr>
	<th></th>
    <th>Category</th>
	<th>Advisee Name</th>
	<th>Status</th>
    <th>Created On</th>
    <th></th>

  </tr>

<% @messagesp.each do |message| %>
  <tr>
    <td><%= link_to message.advicepost.categoryname, message %></td>
    <td><%= message.advicepost.categoryname %></td>
    <td><%= message.advicepost.advisor.firstname %></td>
    <td><%= message.status %></td>
	<td><%= message.created_at %></td>

  </tr>
<% end %>
</table>



<%= will_paginate @messages %>



<br />




