

<h3>Advice Messages</h3>

<table class="table table-striped">
  <tr>
	<th>View</th>
    <th>Category</th>
	<th>Advisee Name</th>
	<th>Status</th>
    <th>Created On</th>

  </tr>

<% @messagesp.each do |message| %>
  <tr>
	<%= @space = " " %>
   	<% if message.status == "New" %>
			<td><%= link_to 'Respond!', messager_path(message), class: "btn btn-success" %></td>
	<% else %>
	    	<td><%= link_to 'View', message %></td>
	<% end %>
	
    <td><%= message.advicepost.categoryname %></td>
    <td><%= message.advicepost.advisor.first_name + @space + message.advicepost.advisor.last_name %></td>
    <td><%= message.status %></td>
    <td><%= message.created_at.strftime("%m-%d-%Y %H:%M") %></td>

  </tr>
<% end %>
</table>



<%= will_paginate @messages %>



<br />




