

<h2>Responded To Advice Messages</h2>


<table class="table table-striped">
  	
  <tr>
	<th>View</th>
    <th>Category Name</th>
	<th>Advisor Name</th>
	<th>Status</th>
    <th>Created On</th>
    <th>Message Advisor Again</th>
  </tr>

<% @messagesp.each do |message| %>
  <tr>
	<%= @space = " " %>
	<td><%= link_to "View", showadvisee_path(message) %></td>
    <td><%= message.advicepost.categoryname %></td>
    <td><%= message.advicepost.advisor.first_name + @space + message.advicepost.advisor.last_name %></td>
    <% if message.status != "Rated" %>
	<td><%= link_to "Rate this Message!", rating_path(message.advicepost.id,:m_id=>message.id), :class => 'btn', class: "btn btn-success"  %></td>
	<% else %>
		<td><%= message.status %></td>
	<% end %>
	
	<td><%= message.created_at.strftime("%m-%d-%Y %H:%M") %></td>
	<td><%= link_to "Buy New Advice Message!", new_transaction_path(:advicepost_id => message.advicepost.id), :class => 'btn', class: "btn btn-success" %></td>
  </tr>
<% end %>
</table>


<%= will_paginate @messages %>


<br />

