

<h3>Advice Messages</h3><br />


<table class="table table-striped">
  	
  <tr>
	<th>View</th>
    <th>Category Name</th>
	<th>Advisor Name</th>
	<th>Status</th>
    <th>Created On</th>
	<th></th>
    <th></th>
  </tr>

<% @messagesp.each do |message| %>
  <tr>
	<%= @space = " " %>
	<td><%= link_to "View", showadvisee_path(message) %></td>
    <td><%= message.advicepost.categoryname %></td>
    <td><%= message.advicepost.advisor.first_name + @space + message.advicepost.advisor.last_name %></td>
    <td><%= message.status %></td>
    <td><%= message.created_at.strftime("%m-%d-%Y %H:%M") %></td>

    <% if message.status == "Responded" %>
	<td><%= link_to "Rate this Message!", rating_path(message.advicepost.id,:m_id=>message.id), :class => 'btn', class: "btn btn-success"  %></td>
	<% elsif message.status == "New" %>
		<td></td>
	<% else %>
	    <td></td>
	<% end %>
		
	
	<% if message.status == "Responded" %>
	<td><%= link_to "Buy New Advice Message!", new_transaction_path(:advicepost_id => message.advicepost.id), :class => 'btn', class: "btn btn-success" %></td>
	<% elsif message.status == "Rated" %>
			<td><%= link_to "Buy New Advice Message!", new_transaction_path(:advicepost_id => message.advicepost.id), :class => 'btn', class: "btn btn-success" %></td>
	<% else message.status == "Responded" %>
	<% end %>

  </tr>
<% end %>
</table>


<%= will_paginate @messages %>


<br />

