

<script type="text/javascript">
<!--
 
$('#message_messager').live('keyup keydown', function(e) {
  var maxLen = 1000;
  var left = maxLen - $(this).val().length;
  $('#char-count').html(left);
}); 
//-->
</script>



<h2>Respond to Message</h2><br />

<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :advicepost_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :advisor_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :status %>
  </div>
	<div class="field">
    <%= f.hidden_field :transaction_id %>
  </div>

<p>
  <b>Advisee's Message:</b><br />
  <%= @message.messageq %>
</p>

<br />

<p>
<b>Please write your response message. </b>
	    <span class="help-block">Enter your message to this advisee.  Please answer their questions fully to the best of your ability.  Giving an excellent response will boost your rating and profile! <br />(1000 character limit)</span> 

  <div class="field">
    <%= f.text_area :messager, :maxlength => 1000 %>
  </div>
	<div>Characters left: <span id="char-count">1000</span></div>
</p>

  <div class="actions">
    <%= link_to 'Back', giveadvices_path, :class => 'btn' %>
    <%= f.submit 'Send Response!', :class => 'btn btn-primary' %>
	
  </div>

<% end %>






