


<h2>Message</h2>


<%= @space = " " %>
<p>
  <b>Advisor Name:</b><br />
  <%= @message.advicepost.advisor.first_name + @space + @message.advicepost.advisor.last_name %>
</p>

<p>
  <b>Category:</b><br />
  <%= @message.advicepost.categoryname %>
</p>


<p>
  <b>Advisee Message:</b><br />
  <%= @message.messageq %>
</p>

<% if !@message.messager.blank? %>
<p>
  <b>Response Message:</b><br />
  <%= @message.messager %>
</p>
<% else %>
<% end %>


<br /><br /><br /><br />

<%= link_to 'Back', getadvices_path, class: "btn" %>


<% if @message.status != "Rated" && !@message.messager.blank? %>
		<td><%= link_to "Rate this Message!", rating_path(@message.advicepost.id,:m_id=>@message.id), :class => 'btn', class: "btn btn-success" %></td>
<% else %>
		<%= link_to 'Continue', getadvices_path, class: "btn btn-success" %>
<% end %>




