


<h2>Message</h2>




<p>
  <b>Advisee Message:</b><br />
  <%= @message.messageq %>
</p>

<p>
  <b>Response Message:</b><br />
  <%= @message.messager %>
</p>




<br /><br /><br /><br />

<%= link_to 'Back', getadvices_path, class: "btn" %>

<%= link_to 'Continue', getadvices_path, class: "btn btn-success" %>

<td><%= link_to "Rate this Message!", rating_path(@message.advicepost.id,:m_id=>@message.id), :class => 'btn', class: "btn btn-success" %></td>



