<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @message.user_id %>
</p>

<p>
  <b>Advisor:</b>
  <%= @message.advisor_id %>
</p>

<p>
  <b>Advicepost:</b>
  <%= @message.advicepost_id %>
</p>

<p>
  <b>Thread:</b>
  <%= @message.thread %>
</p>

<p>
  <b>Messageq:</b>
  <%= @message.messageq %>
</p>

<p>
  <b>Messager:</b>
  <%= @message.messager %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
