


<div class="row">
<div class="span5">

<p>
<strong>Log in</strong><br />
<h4>Please log in to continue</h4><br />

<strong><%= link_to image_tag("facebook_sign_in.png"), "/auth/facebook" %></strong><br /><br />

</p>

Or Log In

<%= form_tag "/auth/identity/callback" do %>

<div class="field">
<%= label_tag :auth_key, "Email" %>
<%= text_field_tag :auth_key %>
</div>
<div class="field">
<%= label_tag :password %>
<%= password_field_tag :password %>
</div>
<div class="actions"><%= submit_tag "Login", class: "btn btn-large btn-success" %></div>
<% end %>
</p>
</div>
    
<div class="span5">
<h1></h1>
<p>
<strong>New to PathAdvisor?</strong><br />
<h4>A PathAdvisor account is required to continue.</h4><br />

<%= form_tag "/auth/identity/register" do %>
  <% if @identity && @identity.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being created:</h2>
      <ul>
      <% @identity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= label_tag :name %>
    <%= text_field_tag :name, @identity.try(:name) %>
  </div>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, @identity.try(:email) %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= label_tag :password_confirmation %>
    <%= password_field_tag :password_confirmation %>
  </div>
  <div class="actions"><%= submit_tag "Sign Up", class: "btn btn-large btn-success" %></div>
  
<% end %>
</p>

</div>
</div>



