
gabe@pathadvisor button



<form action="https://authorize.payments-sandbox.amazon.com/cobranded-ui/actions/start" method="get">
   <input type="hidden" name="collectEmailAddress" value="true" >
   <input type="hidden" name="signatureMethod" value="HmacSHA256" >
   <input type="hidden" name="recipientPaysFee" value="true" >
   <input type="hidden" name="maxVariableFee" value="30.00" >
   <input type="hidden" name="signatureVersion" value="2" >
   <input type="hidden" name="callerAccountId" value="NYJIEQQGYMQA59GUAI3DNZI1V2ENV3VLJL59QX" >
   <input type="hidden" name="pipelineName" value="Recipient" >
   <input type="hidden" name="callerKey" value="11SEM03K88SD016FS1G2" >
   <input type="hidden" name="signature" value="RFakFmNLJV/nr3jwgOIvemI476itoaBGTLz1b7XRRcY=" >
   <input type="hidden" name="callerReference" value="773f8778-cb7e-4839-a393-12d86ffc62d2" >
   <input type="hidden" name="returnURL" value="http://serene-bayou-1827.herokuapp.com/adviceposts/new" >
   <input type="image" src="http://g-ecx.images-amazon.com/images/G/01/asp/MarketPlaceFeeWithLogo.gif" border="0">
  </form>


<form action="https://authorize.payments-sandbox.amazon.com/pba/paypipeline" method="post">
  <input type="hidden" name="returnUrl" value="http://serene-bayou-1827.herokuapp.com/getadvices" >
  <input type="hidden" name="processImmediate" value="0" >
  <input type="hidden" name="signatureMethod" value="HmacSHA256" >
  <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
  <input type="hidden" name="collectShippingAddress" value="0" >
  <input type="hidden" name="isDonationWidget" value="0" >
  <input type="hidden" name="amazonPaymentsAccountId" value="NYJIEQQGYMQA59GUAI3DNZI1V2ENV3VLJL59QX" >
  <input type="hidden" name="referenceId" value="47" >
  <input type="hidden" name="cobrandingStyle" value="logo" >
  <input type="hidden" name="recipientEmail" value="gabemcmillan gmail.com" >
  <input type="hidden" name="immediateReturn" value="0" >
  <input type="hidden" name="amount" value="USD 10" >
  <input type="hidden" name="description" value="New Advice Message" >
  <input type="hidden" name="variableMarketplaceFee" value="30" >
  <input type="hidden" name="signatureVersion" value="2" >
  <input type="hidden" name="signature" value="95HqPq3+bQipsDvhc8wtwvc/IvzdRKki1YcML3Qkifk=" >
  <input type="image" src="http://g-ecx.images-amazon.com/images/G/01/asp/golden_medium_paynow_withmsg_whitebg.gif" border="0">
</form>









<h1>Listing payments</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Transaction</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payments.each do |payment| %>
  <tr>
    <td><%= payment.amount %></td>
    <td><%= payment.transaction_id %></td>
    <td><%= link_to 'Show', payment %></td>
    <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
    <td><%= link_to 'Destroy', payment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payment', new_payment_path %>
