<h2>Create Advisor Account</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	<%= f.input :first_name, :required => true, :autofocus => true, label: "First Name" %>
	<%= f.input :last_name, :required => true, :autofocus => true, label: "Last Name" %>
	<%= f.input :address, :required => true, :autofocus => true, label: "Address" %>
	<%= f.input :address2, :required => false, :autofocus => true, label: "Address 2" %>
	<%= f.input :city, :required => true, :autofocus => true, label: "City" %>
	<%= f.input :state, :required => true, :autofocus => true, label: "State" %>
	<%= f.input :zip, :required => true, :autofocus => true, label: "Zip" %>
	

	
	<%= f.input :birthday, :required => true, :autofocus => true, :as => :date, :start_year => Date.today.year - 90, :end_year => Date.today.year - 12, :order => [:month, :day, :year] %>
	<%= f.input :gender, :required => true, :autofocus => true, collection: ['Male', 'Female'] %>	

    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>


	
	<%= f.input :paypal_email, :required => true, :hint => "Currently we only allow Advisor payments through PayPal." %>
	No Paypal account? <%= link_to 'Signup here, it just takes 5 minutes.', "https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=t4JqR0BMG22oQYrSlhcOiRl7N4-3qV0bw_qQZiPDWgPLMIjhoR1ChpEAGvi&dispatch=5885d80a13c0db1f8e263663d3faee8da6a0e86558d6153d8812cd76bf2fd83f", :target => "_blank" %>
	




  </div>

  <div class="form-actions">
	<%= link_to 'Back', :back, :class => 'btn' %>
    <%= f.button :submit, "Create", class: "btn btn-success" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
