



<h2>Your Advice Listings</h2>	
<table class="table table-striped">
  <tr>
    <th>Category</th>
    <th>Mini-Resume</th>
    <th>Price</th>
    <th>Edit</th>
  </tr>

<% @adviceposts.each do |advicepost| %>
  <tr>
  	<td><%= link_to advicepost.category.try(:categoryname), advicepost %></td>
    <td><%= truncate(advicepost.miniresume,:length=>100,:omission=>"...") %></td>
    <td>$<%= advicepost.price %></td>

    <td><%= link_to 'Edit', edit_advicepost_path(advicepost) %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @messages %>



<br />


   
    



