



<h3>Advice Listing</h3><br />	

<table class="table table-striped">
  <tr>
    <th>Category</th>
	<th>Headline</th>
    <th>Mini-Resume</th>
	<th>Status</th>
    <th>Score</th>
    <th>Edit</th>
  </tr>

<% @adviceposts.each do |advicepost| %>
  <tr>
  	<td><%= link_to advicepost.category.try(:categoryname), advicepost %></td>
	<td><%= advicepost.headline %></td>
    <td><%= truncate(advicepost.miniresume,:length=>100,:omission=>"...") %></td>
    <td><%= advicepost.status %></td>
    <td><%= advicepost.rating.score %></td>
    <td><%= link_to 'Edit', edit_advicepost_path(advicepost) %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @messages %><br />


   
    



