


<p>
<strong>Are you an Expert? Give Advice</strong><br />
<h4>-Make money by sharing your expertise and advice privately with others<h4><br />
<h4>-Privately message advisee's on a per message basis</h4> 	<br />
<h4>-Share your knowledge to let others make better decisions</h4><br />
</p>

<%= link_to 'Create New Advice Listing', new_advicepost_path, class: "btn btn-large btn-success" %>
<br /><br />

<h2>Your Advice Listings</h2>	
<table class="table table-striped">
  <tr>
    <th>Category</th>
    <th>Mini-Resume</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @adviceposts.each do |advicepost| %>
  <tr>
  	<td><%= advicepost.category.categoryname %></td>
  	
    <td><%= advicepost.miniresume %></td>
    <td>$<%= advicepost.price %></td>
    <td><%= link_to 'View Listing', advicepost %></td>
    <td><%= link_to 'Edit', edit_advicepost_path(advicepost) %></td>
    <td><%= link_to 'Remove Listing', advicepost, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />




    
    



