








<h2>Your Advice Listings</h2>	
<table class="table table-striped">
  <tr>
    <th>Category</th>
    <th>Mini-Resume</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @adviceposts.each do |advicepost| %>
  <tr>
  	<td><%= advicepost.category.categoryname %></td>
    <td><%= advicepost.miniresume %></td>
    <td>$<%= advicepost.price %></td>
    <td><%= link_to 'View Listing', advicepost %></td>
    <td><%= link_to 'Edit', edit_advicepost_path(advicepost) %></td>
    <td><%= link_to 'Remove Listing', advicepost, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />




    
    



