

<%= form_for(@advicepost) do |f| %>
  	
  <div class="field">
    <%= f.hidden_field :advisor_id %>
  </div>

  <div class="field">
    <%= f.hidden_field :status %>
  </div>

  <div class="field">
    <strong><%= f.label :category_id %></strong>
    <%= f.select :category_id, Category.order("categoryname").all.collect {|category| [category.categoryname,category.id]}, :include_blank => 'Please select a category...' %>
  </div>

  <div class="field">
    <strong><%= f.label 'Mini-Resume' %></strong>
    <span class="help-block">(2000 character max.) Summarize your experience and accomplishments. Be specific. Show off. Add any relevant links as well.</span>
    <%= f.text_area :miniresume %>
  </div>

  <div class="field">
    <strong><%= f.label :price %></strong> 
	<span class="help-block">This is the price per response from someone seeking your advice.</span>
<%= f.select :price, AdvicepostPrice.all.collect {|advicepost_price| [ advicepost_price.pricelabel,advicepost_price.price ]}, :include_blank => 'Please select a price…' %>
  </div>

  <div class="field">
	<strong><%= f.label "Website or Blog URL" %></strong>
    <%= f.text_field :website %>
  </div>

  <div class="field">
	<strong><%= f.label "Twitter profile URL" %></strong>
    <%= f.text_field :twitter %>
  </div>

  <div class="field">
	<strong><%= f.label "LinkedIn profile URL" %></strong>
    <%= f.text_field :linkedin %>
  </div>

  <br />

<div class="field">
<%= f.fields_for :rating, @rating do |builder| %>
	<fieldset>
  <div class="field">
    <%= builder.hidden_field :advisor_id %>
  </div>
  <div class="field">
    <%= builder.hidden_field :score %>
  </div>
  <div class="field">
    <%= builder.hidden_field :advicepost_id %>
  </div>
	<fieldset>
<% end %>
</div>

<div class="field">
<%= f.fields_for :advisor, current_advisor do |builder| %>
	<fieldset>
  <div class="field">
    <%= builder.hidden_field :status %>
  </div>
  <div class="field">
    <%= builder.hidden_field :tokenID %>
  </div>
  <div class="field">
    <%= builder.hidden_field :refundTokenID %>
  </div>
	<fieldset>
<% end %>
</div>



By clicking Continue you verify all the information you have entered for this Advice Listing is a fact.  If information entered is found false you may, at a minimum, be removed from the site. <br /><br />


  <div class="actions">
	<%= link_to 'Back', :back, :class => 'btn' %>
    <%= f.submit 'Submit', :class => 'btn', class: "btn btn-success" %>

  </div>
  
<% end %>


<br /><br />
<%= debug @advisor %>
<%= debug @advicepost %>



