


<h2>Advice Listing Details</h2>


<%= form_for(@advicepost) do |f| %>


<p>
  <b>Category:</b><br />
  <%= @advicepost.category.categoryname %>
</p>

<p>
  <b>Advisor:</b><br />
  <%= @advicepost.advisor.first_name %>
</p>

<p>
  <b>Mini-Resume:</b><br />
  <%= @advicepost.miniresume %>
</p>

<p>
  <b>Website:</b><br />
  <%= @advicepost.website %>
</p>
<p>
  <b>Twitter:</b><br />
  <%= @advicepost.twitter %>
</p>
<p>
  <b>LinkedIn:</b><br />
  <%= @advicepost.linkedin %>
</p>

<p>
  <b>Price per message:</b>
  $<%= @advicepost.price %>
</p>

<br /><br />


<%= link_to 'Continue', giveadvices_path, class: "btn btn-success" %>


<% end %>

