


<h2>Advice Listing Details</h2>


<%= form_for(@advicepost) do |f| %>


<p>
  <b>Category:</b><br />
  <%= @advicepost.category.categoryname %>
</p>

<%= @space = " " %>
<p>
  <b>Advisor:</b><br />
  <%= @advicepost.advisor.first_name + @space + @advicepost.advisor.last_name %>
</p>


<p>
  <b>Mini-Resume:</b><br />
  <%= @advicepost.miniresume %>
</p>



<% if @advicepost.website.blank? %>
<% else %>
	<p>
	  <b>Website:</b><br />
	  <%= @advicepost.website %>
	</p>	
<% end %>

<% if @advicepost.twitter.blank? %>
<% else %>
<p>
  <b>Twitter:</b><br />
  <%= @advicepost.twitter %>
</p>	
<% end %>

<% if @advicepost.linkedin.blank? %>
<% else %>
<p>
  <b>LinkedIn:</b><br />
  <%= @advicepost.linkedin %>
</p>	
<% end %>

<p>
  <b>Price per message:</b>
  $<%= @advicepost.price %>
</p>

<br /><br />


<%= link_to 'Continue', giveadvices_path, class: "btn btn-success" %>


<% end %>

