

<h1>Rate Advisor's Message</h1><br />


<h2>Rate Advisor's Message</h2><br />


<%= form_for(@advicepost) do |f| %>
  	
  <div class="field">
    <%= f.hidden_field :advisor_id %>
  </div>

  <div class="field">
    <%= f.hidden_field :score %>
  </div>



<div class="field">
<%= f.fields_for :rating, @rating do |builder| %>
	<fieldset>
<%= builder.radio_button(:rating_select, "Up") %>
<%= label_tag(:rating_select, "Good, I'm satisfied.") %>
<%= builder.radio_button(:rating_select, "Down")%>
<%= label_tag(:rating_select, "Bad, I'm not satisfied.")%>
	<fieldset>
<% end %>
</div>


<%= f.fields_for :messages, @message do |builder| %>
	<fieldset>
		<%= builder.hidden_field :status %>
	<fieldset>
<% end %>
	

  <br />
  <div class="actions">
	<%= link_to 'Back', :back, :class => 'btn' %>
    <%= f.submit 'Rate!', :class => 'btn', class: "btn btn-success" %>
  </div>
 
<% end %>


<br /><br />
<%= debug @rating %>
<%= debug @advicepost %>
<%= debug @message %>

