


<% if @adviceposts.count >= 1 %>

<h1>Advice Listing Search Results</h1><br />

<table class="table table-striped">
  <tr>
	<th>Headline</th>
    <th>Advisor</th>  
    <th>Category</th>
    <th>Mini-resume</th>
	<th>Score</th>
	<th>Location</th>
    <th>Price</th>
  </tr>

<% @adviceposts.each do |advicepost| %>
  <tr>
	<%= @space = " " %>
	<%= @comma = ", "%>
    <td><%= link_to advicepost.headline, advicepost %></td>
	<td><%= advicepost.advisor.first_name + @space + advicepost.advisor.last_name %></td> 
    <td><%= advicepost.category.categoryname %></td>  
    <td><%= truncate(advicepost.miniresume,:length=>230,:omission=>"...") %></td>
	<td><%= advicepost.rating.score %>
	<td><%= advicepost.advisor.city + @comma + advicepost.advisor.state %>	
    <td>$<%= advicepost.price %></td>
  </tr>
<% end %>
</table>
<br /></br></br>

<%= link_to 'Back', getadvices_path, :class => 'btn' %>

<% else %>

Sorry no listings for this search.  Please try another search.<br /><br />

<%= link_to 'Back', getadvices_path, :class => 'btn' %>


<% end %>