




<h2>Advice Listing Details</h2>


<%= form_for(@advicepost) do |f| %>


<p>
  <b>Category:</b><br />
  <%= @advicepost.category.categoryname %>
</p>

<p>
  <b>Advisor Name:</b><br />
  <%= @advicepost.user.name %>
</p>

<p>
  <b>Mini-Resume:</b><br />
  <%= @advicepost.miniresume %>
</p>

<p>
  <b>Price per message:</b>
  $<%= @advicepost.price %>
</p>

<br /><br />

<%= link_to 'Back', getadvices_path, :class => 'btn' %>
<%= link_to 'Message This Advisor!', new_message_path(:advicepost => @advicepost.id), :class => 'btn', class: "btn btn-success"  %>



<% end %>

