

<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			
		<% if current_user %>
		
		<%= link_to image_tag("pathadvisor-logo230px.jpg"), getadvices_path, id: "logo" %>
		<nav>
			<ul class="nav pull-right">
			<li>Logged in as <strong><%= current_user.email %></strong></li>
			<li><%= link_to 'Dashboard', getadvices_path %></li>	
			<li><%= link_to "Payments", payments_path %></li>
			<li><%= link_to 'Profile', edit_user_registration_path %></li>	
	        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
			</ul>
		</nav>
		
		<% elsif current_advisor %>

		<%= link_to image_tag("pathadvisor-logo230px.jpg"), giveadvices_path, id: "logo" %>
		<nav>
			<ul class="nav">
			<li><%= link_to "How it Works",    '#' %></li>
			</ul>
		</nav>
        <nav>
    	<ul class="nav pull-right">
	    <li><%= link_to 'Dashboard', giveadvices_path %></li>
	    <li><%= link_to 'Submit an Advice Listing', new_advicepost_path %></li>
        <li><%= link_to 'Edit Advisor Profile', edit_advisor_registration_path %></li>
		<li><%= link_to "Logout of Advisor Account", destroy_advisor_session_path, method: :delete %></li>
		</ul>
		</nav>
        
        <% else %>
            
		<%= link_to image_tag("pathadvisor-logo230px.jpg"), home_index_path, id: "logo" %>
		<nav>
			<ul class="nav">
			<li><%= link_to "How it Works",    '#' %></li>
			</ul>
		</nav>
        <nav>
    	<ul class="nav pull-right">
			<li><%= link_to "Advisee Login", new_user_session_path %></li> 
			<li><%= link_to "Advisor Login", new_advisor_session_path %></li>
		</ul>
		</nav>
		
		<% end %>

		</div>
	</div>
</header>